header {
  height: 250px;
  
}

header .header_registry {
  height: 80%;
  width: 25%;
  background: url(../media/img/header.jpg) no-repeat;
  background-size: contain;
  margin: 0 auto;
}

header .header_paragraph{
  text-align: center;
  font-weight: 600;
  font-size: 300%;
  font-family: 'Lobster';
  margin: 0;
}

main{
  flex-direction: row;
  display: flex;
  width: 80%;
  margin: 20px auto;
}

main nav{
  width: 350px;
  padding: 20px;
}

nav input[type=button]{
  font-size: 1.2em;
    width: 350px;
    cursor: pointer;
    border: 0;
    border-radius: 50px;
    font-family: 'Lobster';
    padding: 15px;
    outline:none;
}
nav input[type=text]{
  width: 350px;
  border-radius: 50px;
  font-size: 1.2em;
  font-family: 'Lobster';
  outline:none;
}

.number {
  text-align: center;
}

nav label {
  font-size: 1.5em;
  font-family: 'Lobster';
}


nav input[type=button]:hover{
  background-color: blueviolet;
  color: white;
  transition: 1s;
}


main section{
  width: 1100px;
  padding-top: 40px;
  padding-left: 40px;
}

section textarea{
  width: 96%;
  height: 350px;
  padding: 20px;
  font-size: 2em;
  font-family: 'Lobster';
}